/* Importing Roboto and Noto Sans Lao fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Noto+Sans+Lao:wght@400;700&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Roboto, Noto Sans Lao, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
}

code {
  font-family: Roboto, Noto Sans Lao, sans-serif;
}
